#include <winres.h>
#define IDR_MAIN_MENU 102
#define IDM_FILE_EXIT 40001
#define IDM_HELP_ABOUT 40002

// 主菜单
IDR_MAIN_MENU MENU
BEGIN
    POPUP "文件(&F)"
    BEGIN
        MENUITEM "退出(&X)", IDM_FILE_EXIT
    END
    POPUP "帮助(&H)"
    BEGIN
        MENUITEM "关于(&A)...", IDM_HELP_ABOUT
    END
END
 
